{% extends "base.html" %} {% block title %}About{% endblock %} {% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'about.css' %}" />
{%endblock %} 
{% block content %}
<div class="pictures">
  <div class="slide-track">
    <img
      src="https://images.pexels.com/photos/4531877/pexels-photo-4531877.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/4145354/pexels-photo-4145354.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5940721/pexels-photo-5940721.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="300px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553056/pexels-photo-5553056.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="250px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553044/pexels-photo-5553044.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="200px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553048/pexels-photo-5553048.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="250px"
      class="slide"
    />

    <!--same slides duplicate-->

    <img
      src="https://images.pexels.com/photos/4531877/pexels-photo-4531877.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/4145354/pexels-photo-4145354.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt="About"
      height="150px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5940721/pexels-photo-5940721.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="300px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553056/pexels-photo-5553056.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="250px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553044/pexels-photo-5553044.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="200px"
      class="slide"
    />
    <img
      src="https://images.pexels.com/photos/5553048/pexels-photo-5553048.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt="About"
      height="250px"
      class="slide"
    />
  </div>
</div>
<!--picture sliding complete-->
<div class="aheading">
  <h3>
    Welcome to <b class="animate-charcter">ND Solutions </b> where excellence
    converges with knowledge!
  </h3>
  <p>
    <br>
    In an ever-evolving digital landscape, the demand for adept professionals in
    data science and technology continues to soar. ND Global Tech Solutions
    distinguishes itself as a premier institution by catering exclusively to
    individuals who are passionate about enhancing their skill sets.
  </p>

  <div class="section1">
    <div class="services">
      <div class="card">
        <div class="icon">
          <i class="fas fa-calendar"></i>
        </div>
        <h2>Our Commitment</h2>
        <p>
          Our Commitment: Empowering Through Education.
          <br />
          <br />
          Our commitment extends to prioritizing innovation and embracing
          cutting-edge technologies that elevate the learning journey. Our
          state-of-the-art facilities, contemporary classrooms, and
          well-equipped laboratories provide students with the essential
          resources to thrive in their academic pursuits.
        </p>
        <!-- <a href="" class="button">Read More</a> -->
      </div>
      <div class="card">
        <div class="icon">
          <i class="fas fa-calendar"></i>
        </div>
        <h2>Our Faculities</h2>
        <p>
          Our instructors are not only highly experienced but also deeply
          committed to their respective domains, offering a treasure trove of
          practical insights and industry expertise within the classroom. Their
          unwavering dedication revolves around delivering tailored guidance,
          cultivating a nurturing learning environment, and steering our
          students towards their aspirations.
        </p>
        <!-- <a href="" class="button">Read More</a> -->
      </div>
      <div class="card">
        <div class="icon">
          <i class="fas fa-calendar"></i>
        </div>
        <h2>Our Passion</h2>
        <p>
          our passion lies in creating a supportive and all-encompassing
          learning environment that not only acknowledges but also celebrates
          the accomplishments of individual. We are dedicated to crafting a
          space where individuals can flourish academically, personally, and
          professionally.
        </p>
        <!-- <a href="" class="button">Read More</a> -->
      </div>
    </div>
  </div>

  {% endblock %}
</div>