{% extends "base.html" %}
{% block title %}faqs{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'faqstyle.css' %}" />{% endblock %}
{% block content %}
<div class="faqs-container">
  <h1>Frequently Asked Questions!!!!!</h1>

  <div class="questions-container">
    <div class="content-container">
      <div class="faq-header">
        <h3>what are the courses ?</h3>
        <span class="open active">+</span>
        <span class="close">-</span>
      </div>

      <div class="content">
        <p>
          nopeeeeeeee
          no answer
          please
          blah blah blah
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          voluptatem voluptatibus temporibus nemo amet tempore aperiam
          pariatur laboriosam qui vel!
        </p>
      </div>
    </div>

    <div class="content-container">
      <div class="faq-header">
        <h3>Certifications offered?</h3>
        <span class="open active">+</span>
        <span class="close">-</span>
      </div>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          voluptatem voluptatibus temporibus nemo amet tempore aperiam
          pariatur laboriosam qui vel!
        </p>
      </div>
    </div>

    <div class="content-container">
      <div class="faq-header">
        <h3>Duration of each course?</h3>
        <span class="open active">+</span>
        <span class="close">-</span>
      </div>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
          veniam!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          voluptatem voluptatibus temporibus nemo amet tempore aperiam
          pariatur laboriosam qui vel!
        </p>
      </div>
    </div>
    <div class="content-container">
      <div class="faq-header">
        <h3>?</h3>
        <span class="open active">+</span>
        <span class="close">-</span>
      </div>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
          veniam!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          voluptatem voluptatibus temporibus nemo amet tempore aperiam
          pariatur laboriosam qui vel!
        </p>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="faq-header">
      <h3>Currently im pursuing btech,Can you please suggest me a course?</h3>
      <span class="open active">+</span>
      <span class="close">-</span>
    </div>

    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
        veniam!
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
        voluptatem voluptatibus temporibus nemo amet tempore aperiam
        pariatur laboriosam qui vel!
      </p>
    </div>
  </div>
</div>
</div>


{% endblock %}